/* III.III. Discography */
.discography #pageContent {
	margin-top: 45px;
}
.release-type, .release-type .production {
	list-style-type: none;
	padding: 0;
}
.release-type .release {position: relative}
.release-type #inTheSky {background-color: #e0eaf5}
.release .bg {opacity: .25}
.release#inTheSky .bg {background-image: url("/assets/img/discography/release_bgs/in-the-sky_bg.jpg")}
.release .fg {
	position: relative;
	z-index: 1;
	max-width: 2023.5px;
	margin: 0 auto;
	padding: 27px 51.75px;
}
.release .header {
	position: relative;
	margin: 0 0 27px;
}
.release .header h2, .release .header h2 span, .release .header a, .release .header .share span,
.release .header .share .menu {line-height: 1em}
.release .header h2 {
	float: left;m
	height: 1em;
	font-size: 36px;
}
.release .header h2 span, .release .header .share .menu {display: inline-block}
.release .header .title {font-family: "itc-avant-garde-gothic-pro", sans-serif}
.release#inTheSky .header .title {
	width: 277.75px;
	background-image: url("/assets/img/discography/release_logos/inthesky_logo.png");
}
.release .header .replace {height: 36px}
.release .header .date {font-size: 27px}
.release .header .date:before {
	content: " / ";
	opacity: .75;
}
.release .header .more-link, .release .header > .menu {
	float: right;
	margin: 13.5px 0 0 0;
}
.release .header a, .release .header .share span {
	font-family: "proxima-nova", sans-serif;
	font-size: 22.5px;
	letter-spacing: -1.125px;
	font-weight: 700;
	text-transform: uppercase;
}
.release .header .menu > li {
	margin: 0 27px 0 0;
	vertical-align: middle;
}
.release .header .share {
	border-right: 1px solid #000418;
	padding-right: 27px;
}
.release .header .share span, .release .header .share .menu > li {
	vertical-align: bottom;
	margin: 0 18px 0 0;
}
.release .content > * {float: left}
.release .content .artwork {
	width: 37.5%;
	padding: 0 13.5px 0 0;
	line-height: 0;
}
.release .content .artwork img {width: 100%}
.release .content .artwork .description {
	margin: 18px 0 0 0;
	line-height: 1.5em;
}
.release .content .artwork .liner {margin: 0 0 13.5px 0}
.release .content .artwork .production:before {
	content: "";
	display: block;
	width: 54px;
	height: 2.25px;
	margin: 0 0 13.5px 0;
	background-color: #052d6a;
}
.release .content .artwork .production li {margin: 0 0 4.5px 0}
.release .content .artwork .production li.last-of-subsec {margin: 0 0 9px 0}
.release .content .artwork .production li:last-child {margin: 0}
.release .content .tabs {
	width: 62.5%;
	padding: 0 0 0 13.5px;
}
.release .content .tabs .menu {
	overflow-x: auto;
	white-space: nowrap;
}
.release .content .tabs .menu li {margin: 0 18px 0 0}
.release .content .disable-inactive .menu li:not(.active) {
	pointer-events: none;
	opacity: .5;
}
.release .content .tabs .menu a {
	padding: 13.5px 0 7.875px 0;
	font-family: "itc-avant-garde-gothic-pro", sans-serif;
	font-size: 22.5px;
	text-transform: uppercase;
	line-height: 1em;
	color: #000418;
}
.release .content .tabs .menu a:hover, .release .content .tabs .menu a:focus,
.release .content .tabs .menu .active a {color: #052d6a}
.release .content .tracklist {
	padding: 0;
	list-style-type: none;
}
.release .tracklist ol {margin: 0 0 9px}
.release .tracklist ol:last-child {margin: 0}
.release-type .release .tracklist li {
	overflow: hidden;
	padding: 9px 0;
	border-top: 4.5px solid;
	line-height: 1em;
}
.release .tracklist li a {color: inherit}
.release .tracklist li a:hover, .release .tracklist li a:focus {color: #000418}
.release .tracklist li a.play {
	float: left;
	width: 0;
	height: 0;
	margin: 0 9px 0 0;
	border-width: 9px 0 9px 14.625px;
	border-style: solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
	text-indent: -9999px;
}
.release .tracklist li a.playing {
	width: 14px;
	height: 17.33333396911621px;
	border-width: 0 5.625px;
}
.release .tracklist li span {color: #000418}
.release .tracklist .track, .release .tracklist .title,
.release .tracklist .lyrics {
	display: inline-block;
	font-weight: 700;
}
.release .tracklist .track {
	min-width: 28.08333396911621px;
	margin: 0 4.5px 0 0;
}
.release .tracklist .title {margin: 0 9px 0 0}
.release .tracklist .lyrics {
	font-size: 13.5px;
	font-weight: 400;
}
.release .tracklist .length {float: right}

/* IV.I. Equal or narrower than 939px */
@media screen and (max-width: 938.98px) {
	.release .fg > *, .release .fg > * > * {float: none !important}
	.release .header {
		height: 360px;
		padding: 261px 0 0 378px;
	}
	.release-active .header {padding: 227.25px 0 0 378px}
	.release .header img {
		position: absolute;
		top: 0;
		left: 0;
		width: 360px;
	}
	.release .header img.mobile-only {display: block !important}
	.release .header h2 {height: auto}
	.release .header h2 span {display: block}
	.release .header .title {
		width: 100%  !important;
		height: 31.5px;
		margin: 0 0 13.5px 0
	}
	.release .header .date {font-size: 22.5px}
	.release .header .date:before {display: none}
	.release .header .more-link {display: inline-block}
	.release .header > .menu > li {
		display: block;
		margin: 6.75px 0 0 0 !important;
	}
	.release .header > .menu > .share {
		border: none;
		margin: 0 !important;
		padding: 0;
	}
	.release .content .artwork, .release .content .tabs {
		width: 100%;
		padding: 0;
	}
	.release .content .artwork {
		display: none;
		margin: 0 0 18px 0;
	}
	.release-active .content .artwork {display: block}
	.release .content .artwork img.desktop-only {display: none !important}
	.release .content .artwork .description {
		font-size: 15.75px;
		width: 50%;
	}
}
/* IV.II. Equal or narrower than 767px */
@media screen and (max-width: 767px) {
	/* IV.II.III.II. Discography */
	.discography #pageContent {margin-top: 40.5px}
	.release .fg {padding: 22.5px 27px}
	.release .header {
		height: 270px;
		padding: 180px 0 0 288px;
	}
	.release-active .header {padding: 150.75px 0 0 288px;}
	.release .header img {width: 270px}
	.release .header .title {
		height: 27px;
		margin: 0 0 9px 0;
	}
	.release .header .date {font-size: 18px}
}
/* IV.III. Equal or narrower than 486px */
@media screen and (max-width: 639px) {
	.release .header {
		height: 180px;
		padding: 90px 0 0 198px;
	}
	.release-active .header {padding: 60.75px 0 0 198px;}
	.release .header img {width: 180px}
}
/* IV.IV. Equal or narrower than 486px */
@media screen and (max-width: 486px) {
	.release .header {
		height: auto;
		padding: 0;
	}
	.release .header .more-link, .release .header > .menu {margin: 13.5px 0 18px 0}
	.release .header img {
		width: 100%;
		position: relative;
	}
}
