/* VI/XII. Typekit */
/* VI/XII.I. Proxima Nova */
@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/l?subset_id=2&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/d?subset_id=2&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/a?subset_id=2&fvd=n1&v=3) format("opentype");font-weight:100;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/l?subset_id=2&fvd=i1&v=3) format("woff2"),url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/d?subset_id=2&fvd=i1&v=3) format("woff"),url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/a?subset_id=2&fvd=i1&v=3) format("opentype");font-weight:100;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}

/* I. CSS Essentials */
/* I.I. CSS Essentials: Site basics */
* {
	box-sizing: border-box;
	margin: 0;
}
html, body {overflow-x: hidden}
body {
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	color: #000418;
	background-color: #faf9f7;
}

/* I.II. HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

/* I.III. Common CSS */
a {text-decoration: none}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
.replace {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
}
.fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.menu {
	list-style-type: none;
	padding: 0;
}
.menu li {display: inline-block}
.mobile-only {display: none !important}

/* II. Site-specific CSS */
/* II.I. Site-specific CSS: Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(0, 4, 24, .125);
	padding: 13.5px 0;
	width: 100%;
	background-color: #faf9f7;
}
#header .header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 51.75px;
	max-width: 2023.5px;
}
#header .header-content .logo {
	width: 301.521px;
	height: 31.5px;
	background-image: url("/assets/img/ontheroof_logo-standard.png");
}
#header .header-content .navigation ul li {margin: 0 18px 0 0}
#header .header-content .navigation ul li.last {margin: 0}
#header .header-content .navigation ul li a {
	letter-spacing: 1px;
	font-size: 20.25px;
	color: #000418;
	transition: color .375s linear;
}
#header .header-content .navigation ul li a:hover {color: #c91e30}

/* III.II. Main content */
#page {margin-top: 59.16666793823242px}
.secondary-nav, .secondary-nav:before {
	position: fixed;
	top: 59.16666793823242px;
}
.secondary-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 6.75px 51.75px;
	width: 100%;
	max-width: 2023.5px;
}
.secondary-nav:before {
	content: "";
	background-image: linear-gradient(to right, #1b2b64, #b32036);
	left: 0;
	height: 27.125px;
}
.secondary-nav h2, .secondary-nav a {color: #faf9f7}
.secondary-nav h2 {
	padding-top: 5.625px;
	font-size: 22.5px;
	color: #faf9f7;
}

/* IV. Page-specific CSS */
/* IV.III. Discography */
.discography #pageContent {
	margin-top: 27.125px;
}

/* V. Responsive CSS */
/* V.I. Equal or narrower than 767px */
@media screen and (max-width: 767px) {
	/* V.I.I. Common CSS */
	.mobile-only {display: block !important}
	.desktop-only {display: none !important}

	/* V.I.II. Header */
	#header .header-content .navigation ul li {display: block}
}
