/* VI/XII. Typekit */
/* VI/XII.I. Proxima Nova */
@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/l?subset_id=2&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/d?subset_id=2&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/154cda/00000000000000007735e601/30/a?subset_id=2&fvd=n1&v=3) format("opentype");font-weight:100;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/l?subset_id=2&fvd=i1&v=3) format("woff2"),url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/d?subset_id=2&fvd=i1&v=3) format("woff"),url(https://use.typekit.net/af/7283cd/00000000000000007735e608/30/a?subset_id=2&fvd=i1&v=3) format("opentype");font-weight:100;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
/* VI/XII.II. Adobe Garamond Pro */
@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/fb3638/00000000000000003b9b00c3/27/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/fb3638/00000000000000003b9b00c3/27/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/fb3638/00000000000000003b9b00c3/27/a?subset_id=2&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/af619f/00000000000000003b9b00c5/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/af619f/00000000000000003b9b00c5/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/af619f/00000000000000003b9b00c5/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/5cace6/00000000000000003b9b00c2/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/5cace6/00000000000000003b9b00c2/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/5cace6/00000000000000003b9b00c2/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/d68363/00000000000000003b9b00c4/27/l?subset_id=2&fvd=i6&v=3) format("woff2"),url(https://use.typekit.net/af/d68363/00000000000000003b9b00c4/27/d?subset_id=2&fvd=i6&v=3) format("woff"),url(https://use.typekit.net/af/d68363/00000000000000003b9b00c4/27/a?subset_id=2&fvd=i6&v=3) format("opentype");font-weight:600;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:adobe-garamond-pro;src:url(https://use.typekit.net/af/6c275f/00000000000000003b9b00c6/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/6c275f/00000000000000003b9b00c6/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/6c275f/00000000000000003b9b00c6/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
/* VI/XII.III. ITC Avant Garde Gothic Pro */
@font-face{font-family:itc-avant-garde-gothic-pro;src:url(https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:itc-avant-garde-gothic-pro;src:url(https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:itc-avant-garde-gothic-pro;src:url(https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}

/* I. CSS Essentials */
/* I.I. CSS Essentials: Site basics */
* {
	box-sizing: border-box;
	margin: 0;
}
html, body, body #pageContent {overflow-x: hidden}
body {
	font-family: "adobe-garamond-pro", sans-serif;
	font-size: 18px;
	color: #000418;
	background-color: #faf9f7;
}

/* I.II. HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

/* I.III. Common CSS */
a {text-decoration: none}
a:focus {outline: 1px dotted}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
p {margin: 0 0 9px 0}
p:last-child {margin: 0}
.replace {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
}
.fill, .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.menu {
	list-style-type: none;
	padding: 0;
	letter-spacing: .25px;
	font-size: 0;
}
.menu li, .menu li a, .menu li span {display: inline-block}
.menu li.last {margin: 0 -.25px 0 0 !important}
.mobile-only {display: none !important}
.clearfix:after, .section:after {
	content: "";
	clear: both;
	display: table;
}
li.toaster, div.toaster {display: none}
.close {
	width: 15.75px;
	height: 15.75px;
	overflow: hidden;
}
.close:before, .close:after {
	content: "";
	position: absolute;
	left: 0;
	top: 6.75px;
	width: 100%;
	height: 2.25px;
	background-color: #000418;
}
.close:before {transform: rotate(-45deg)}
.close:after {transform: rotate(45deg)}
.visually-hidden {
	position: absolute;
	left: -9999px;
	right: -9999px;
}

/* II. Site-specific CSS */
/* II.I. Site-specific CSS: Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 13.5px 0;
	border-bottom: 1px solid rgba(0, 4, 24, .125);
	background-color: #faf9f7;
	z-index: 3;
}
#header .header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 2023.5px;
	margin: 0 auto;
	padding: 0 51.75px;
}
#header .header-content .logo {
	width: 301.521px;
	height: 31.5px;
	background-image: url("/assets/img/ontheroof_logo-standard.png");
}
#header .header-content .navigation .menu li {margin: 0 18px 0 0}
#header .header-content .navigation .menu li a {
	font-size: 20.25px;
	color: #000418;
	transition: color .375s linear;
}
#header .header-content .navigation .menu li a:hover {color: #c91e30}

/* III.II. Main content */
#page {
	margin-top: 59.16666793823242px;
	overflow: hidden;
}
.secondary-nav {
	position: fixed;
	top: 59.16666793823242px;
	left: 0;
	width: 100%;
	padding: 9px 51.75px;
	background-image: linear-gradient(to right, #1b2b64, #b32036);
	z-index: 2;
}
.secondary-nav .clearfix {
	max-width: 2023.5px;
	margin: 0 auto;
}
.secondary-nav h2, .secondary-nav .menu li a {color: #faf9f7}
.secondary-nav h2 {
	float: left;
	padding: 5.4px 0 0 0;
	font-family: "itc-avant-garde-gothic-pro", sans-serif;
	font-size: 21.6px;
	letter-spacing: .5px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1em;
	color: #faf9f7;
}
.secondary-nav .menu {
	float: right;
	margin: 4.5px 0;
}
.secondary-nav .menu li {margin: 0 13.5px 0 0}
.secondary-nav .menu li a {
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1em;
}
.secondary-nav .menu li.is-active a {opacity: .5}

/* III.III. Footer */
#footer {
	background-color: #faf9f7;
	padding: 36px 0 0 0;
}
#footer .footer-inner {
	max-width: 2023.5px;
	padding: 0 51.5px;
}
#footer .footer-inner #footerCopy {
	border-top: 2.25px solid #000418;
	padding: 18px 0;
}
#footer .footer-inner #footerCopy .menu {
	float: right;
	position: relative;
	margin: 1.125px 0;
	font-family: "proxima-nova", sans-serif;
}
#footer .footer-inner #footerCopy .menu li {margin: 0 18px 0 0}
#footer .footer-inner #footerCopy .menu li a, #footer .footer-inner #footerCopy .menu li span,
#footer .footer-inner #footerCopy p {line-height: 1em}
#footer .footer-inner #footerCopy .menu li a, #footer .footer-inner #footerCopy .menu li span {font-size: 15.75px}
#footer .footer-inner #footerCopy .menu li a {
	color: #c91e30;
	transition: color .375s linear;
}
#footer .footer-inner #footerCopy ul li a:hover {color: #9d1725}
#footer .footer-inner #footerCopy .menu li#siteCredits,
#footer .footer-inner #footerCopy .menu li#siteCredits .close {
	position: absolute;
	right: 0;
	bottom: 0;
}
#footer .footer-inner #footerCopy .menu li#siteCredits {
	width: 478px;
	padding: 0 24.75px 0 18px;
	text-align: right;
	background-color: #faf9f7;
}
#footer .footer-inner #footerCopy .menu li#siteCredits span {
	display: block;
	margin: 0 0 9px 0;
}
#footer .footer-inner #footerCopy .menu li#siteCredits span:last-child {margin: 0}
#footer .footer-inner #footerCopy p {float: left}

/* IV. Page-specific CSS */
/* IV.III. Discography */
.discography #pageContent {
	margin-top: 45px;
}
.discography #pageContent .release-type,
.discography #pageContent .release-type .release .fg .content .artwork .description .production {
	list-style-type: none;
	padding: 0;
}
.discography #pageContent .release-type .release {position: relative}
.discography #pageContent .release-type .release .bg {opacity: .5}
.discography #pageContent .release-type .release .fg {
	position: relative;
	z-index: 1;
	max-width: 2023.5px;
	margin: 0 auto;
	padding: 27px 51.5px;
}
.discography #pageContent .release-type .release .fg .header {
	position: relative;
	margin: 0 0 27px;
}
.discography #pageContent .release-type .release .fg .header h2,
.discography #pageContent .release-type .release .fg .header h2 span,
.discography #pageContent .release-type .release .fg .header a {line-height: 1em}
.discography #pageContent .release-type .release .fg .header h2 {
	float: left;
	height: 1em;
	font-size: 36px;
}
.discography #pageContent .release-type .release .fg .header h2 span {display: inline-block}
.discography #pageContent .release-type .release .fg .header h2 .title {
	font-family: "itc-avant-garde-gothic-pro", sans-serif;
}
.discography #pageContent .release-type .release#inTheSky .fg .header h2 .title {
	width: 277.75px;
	background-image: url("/assets/img/discography/release_logos/inthesky_logo.png");
}
.discography #pageContent .release-type .release .fg .header h2 .replace {height: 36px}
.discography #pageContent .release-type .release .fg .header h2 .date {font-size: 27px}
.discography #pageContent .release-type .release .fg .header h2 .date:before {
	content: " / ";
	opacity: .75;
}
.discography #pageContent .release-type .release .fg .header a {
	float: right;
	margin: 13.5px 1.125px 0 0;
	font-family: "proxima-nova", sans-serif;
	font-size: 22.5px;
	letter-spacing: -1.125px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c91e30;
	transition: color .375s linear;
}
.discography #pageContent .release-type .release .fg .header a:hover {color: #9d1725}
.discography #pageContent .release-type .release .fg .content > * {float: left}
.discography #pageContent .release-type .release .fg .content .artwork {
	width: 37.5%;
	padding: 0 13.5px 0 0;
	line-height: 0;
}
.discography #pageContent .release-type .release .fg .content .artwork img {width: 100%}
.discography #pageContent .release-type .release .fg .content .artwork .description {
	margin: 18px 0 0 0;
	line-height: 1.5em;
}
.discography #pageContent .release-type .release .fg .content .artwork .description .liner {margin: 0 0 13.5px 0}
.discography #pageContent .release-type .release .fg .content .artwork .description .production:before {
	content: "";
	display: block;
	width: 54px;
	height: 2.25px;
	margin: 0 0 13.5px 0;
	background-color: #052d6a;
}
.discography #pageContent .release-type .release .fg .content .artwork .description .production li {margin: 0 0 4.5px 0}
.discography #pageContent .release-type .release .fg .content .artwork .description .production li.last-of-subsec {margin: 0 0 9px 0}
.discography #pageContent .release-type .release .fg .content .artwork .description .production li:last-child {margin: 0}
.discography #pageContent .release-type .release .fg .content .tabs {
	width: 62.5%;
	padding: 0 0 0 13.5px;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist {
	padding: 0;
	list-style-type: none;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist ol {margin: 0 0 9px}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist ol:last-child {margin: 0}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li {
	overflow: hidden;
	padding: 9px 0;
	border-top: 4.5px solid;
	line-height: 1em;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li a {
	float: left;
	width: 0;
	height: 0;
	margin: 0 9px 0 0;
	border-width: 9px 0 9px 14.625px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	text-indent: -9999px;
	color: inherit;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li span {color: #000418}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li .track,
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li .title {
	display: inline-block;
	font-weight: 700;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li .track {
	min-width: 28.08333396911621px;
	margin: 0 4.5px 0 0;
}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li .title {margin: 0 9px 0 0}
.discography #pageContent .release-type .release .fg .content .tabs .tracklist li .length {float: right}

/* V. Responsive CSS */
/* V.I. Equal or narrower than 767px */
@media screen and (max-width: 767px) {
	/* V.I.I. Common CSS */
	.mobile-only {display: block !important}
	.desktop-only {display: none !important}

	/* V.I.II. Header */
	#header .header-content .navigation ul li {display: block}
}
